<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/Js/favicon.js"></script>
    <title>Xác nhận mật khẩu</title>
    <link rel="stylesheet" href="/Css/App.css">
</head>
<body>
    <div class="register_container">
        <div class="register__form">
            <div class="register__form--left">
                <div class="register__form--logo">
                    <a href="/"><img src="/Acssets/Icon/Logo2.svg" alt="Logo"></a>
                </div>
                <div class="register__form--content">
                    <h1>Cập nhật mật khẩu</h1>
                    <p>Nhập mật khẩu mới để tiếp tục sử dụng dịch vụ của chúng tôi</p>
                    <form id="confirmPasswordForm">
                        <div class="comfirmPass--input">
                            <input type="password" class="comfirmPass" id="newPassword" name="newPassword" required placeholder="Nhập mật khẩu mới" class="input_password">
                            <br>
                            <input type="password"  class="new_comfirmPass" id="confirmPassword" name="confirmPassword" required placeholder="Xác nhận mật khẩu mới" class="input_password">
                            <br>
                            <input type="checkbox" id="showPassword"> Hiện mật khẩu
                        </div>
                        <div class="register__form--submit">
                            <button type="submit" class="submit submit__comfirmPass">Cập nhật mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="register__form--right">
                <img src="/Acssets/image/image_auth.png" alt="Shopping at home">
            </div>
        </div>
    </div>
    <div class="loader" style="display: none;">Loading...</div>
    <script src="/Js/updatePass.js"></script>
    <script src="/component/checkPassword.js"></script>
    <script src="/component/SharedNotification.js"></script>
</body>
</html>
