<link rel="stylesheet" href="/Css/App.css">
<link rel="stylesheet" href="/Acssets/favicon.html">
<body>
    <div class="forgot_container">
        <div class="forgot__form">
            <div class="forgot__form--left">
                <div class="forgot__form--back">
                    <span style="font-size: 30px; margin-right: 5px;">&lt;</span>
                    <a href="/auth/login" style="font-weight: 600;"> Trở về trang đăng nhập</a>
                </div>
                <div class="forgot__form--content">
                    <h1>Mã xác minh</h1>
                    <p>Nhập mã xác minh được gửi về số điện thoại đăng ký</p>
                    <form id="forgotForm">
                        <div class="forgot__form--input forgot__form--input--otp">
                                <input type="text" class="singleDigitInput" maxlength="1" autocomplete="off">
                                <input type="text" class="singleDigitInput" maxlength="1" autocomplete="off">
                                <input type="text" class="singleDigitInput" maxlength="1" autocomplete="off">
                                <input type="text" class="singleDigitInput" maxlength="1" autocomplete="off">
                                <input type="text" class="singleDigitInput" maxlength="1" autocomplete="off">
                                <input type="text" class="singleDigitInput" maxlength="1" autocomplete="off">
                        </div>
                        
                        <div class="register__form--submit">
                            <button type="submit" class="submit">Xác minh</button>
                        </div>
                        <p class="desc comfirm--otp">
                            Mã xác minh có thời hạn trong <span id="timer">01:00</span>
                            <a href="http://">Gửi lại mã</a>
                        </p>
                    </form>
                </div>
            </div>
            <div class="forgot__form--right">
                <img src="/Acssets/image/image_auth.png" alt="Shopping at home">
            </div>
        </div>
    </div>
    <div class="loader" style="display: none;">Loading...</div>
    <script src="/Js/login.js"></script>
    <script src="/Js/favicon.js"></script>
<script>
     document.querySelectorAll(".singleDigitInput").forEach((input) => {
    input.addEventListener("input", (e) => {
      let value = e.target.value.replace(/[^0-9]/g, ""); // Chỉ nhập số
      e.target.value = value.charAt(0); // Giữ lại số đầu tiên, xóa số thừa
    });

    input.addEventListener("focus", (e) => {
      e.target.select(); // Chọn số cũ để nhập lại nhanh
    });
  });
  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    var countDown = setInterval(function () {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = minutes + ":" + seconds;

      if (--timer < 0) {
        clearInterval(countDown);
        alert("Hết thời gian xác minh, vui lòng gửi lại mã");
      }
    }, 1000);
  }
  document.addEventListener("DOMContentLoaded", function () {
    var fiveMinutes = 60 * 1,
      display = document.querySelector("#timer");
    startTimer(fiveMinutes, display);
  });
</script>
</body>