<link rel="stylesheet" href="/Css/App.css">
<body>
    <div class="forgot_container">
        <div class="forgot__form">
            <div class="forgot__form--left">
                <div class="forgot__form--back">
                    <span style="font-size: 30px; margin-right: 5px;">&lt;</span>
                    <a href="/auth/login"> Trở về trang đăng nhập</a>
                </div>
                <div class="forgot__form--content">
                    <h1>Quên mật khẩu</h1>
                    <p>Nhận mật khẩu mới qua số điện thoại hoặc email</p>
                    <form id="forgotForm">
                        <div class="forgot__form--input">
                            <input type="text" id="PhoneOrEmail" name="PhoneOrEmail" required placeholder="Số điện thoại hoặc Email" class="forgot__form--input--phone">
                            <br>
                        </div>
                        
                        <div class="forgot__form--submit">
                            <button type="submit" class="submit--forget">Gửi</button>
                        </div>
                    </form>
                    <p class="desc login--other">Hoặc đăng nhập bằng</p>
                    <div class="social">
                        <a href="#" class="social__item">
                            <img src="/Acssets/Icon/facebook.svg" alt="Facebook">
                        </a>
                        <a href="#" class="social__item">
                            <img src="/Acssets/Icon/gg.svg" alt="Google">
                        </a>
                        <a href="#" class="social__item">
                            <img src="/Acssets/Icon/apple.svg" alt="Apple">
                        </a>
                    </div>
                </div>
            </div>
            <div class="forgot__form--right">
                <img src="/Acssets/image/image_auth.png" alt="Shopping at home">
            </div>
        </div>
    </div>
    <div class="loader" style="display: none;">Loading...</div>
    <script src="/Js/login.js"></script>
</body>