<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="57x57" href="/Acssets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Acssets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Acssets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Acssets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Acssets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Acssets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Acssets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Acssets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Acssets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/Acssets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Acssets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Acssets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Acssets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Acssets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">    
  <title>Register</title>
  <link rel="stylesheet" href="/Css/App.css"> 
</head>
<body>
  <div class="register_container">
    <div class="register__form">
      <div class="register__form--left">
        <div class="register__form--logo">
            <a href="/"><img src="/Acssets/Icon/Logo2.svg" alt="Logo"></a>
        </div>
        <div class="register__form--content">
          <h1>Đăng ký</h1>
          <p>Đăng ký tài khoản để sử dụng dịch vụ của chúng tôi</p>
          <form id="registerForm">
            <div class="register__form--input">
              <div>
                <input type="text" id="surname" name="surname" required placeholder="Họ">
              </div>
              <div>
                <input type="text" id="username" name="username" required placeholder="Tên">
              </div>
            </div>
            <div class="register__form--input">
              <div>
                <input type="email" id="email" name="email" required placeholder="Email">
              </div>
              <div>
                <input type="text" id="phone" name="phone" required placeholder="Số điện thoại">
              </div>
            </div>
            <div class="register__form--input">
              <div>
                <input type="password" id="password" name="password" required placeholder="Mật khẩu" class="input_password">
              </div>
              <br>
              <div>
                <input type="password" id="confirm_password" name="confirm_password" required placeholder="Nhập lại mật khẩu" class="input_password">
              </div>
            </div>
            <div class="register__form--remember">
              <input type="checkbox" name="remember" id="remember">
              <label for="remember" class="remember-desc">Ghi nhớ mật khẩu</label>
            </div>
            <div class="register__form--submit">
              <button type="submit" class="submit">Đăng ký</button>
            </div>
          </form>
          <div class="register__form--footer">
            <p>Bạn đã có tài khoản? <a href="/auth/login">Đăng nhập</a></p>
          </div>
          <p class="desc login--other">Hoặc đăng nhập bằng</p>
          <div class="social">
            <a href="#" class="social__item">
              <img src="/Acssets/Icon/facebook.svg" alt="Facebook">
            </a>
            <a href="#" class="social__item">
              <img src="/Acssets/Icon/gg.svg" alt="Google">
            </a>
            <a href="#" class="social__item">
              <img src="/Acssets/Icon/apple.svg" alt="Apple">
            </a>
          </div>
        </div>
      </div>
      <div class="register__form--right">
        <img src="/Acssets/image/image_auth.png" alt="Shopping at home">
      </div>
    </div>
  </div>
  <script src="/Js/register.js"></script>
</body>
