<div class="nav">
        <div class="nav__category">
            <div class="category">
                <img src="/Acssets/Icon/All_categories.svg" alt="category" class="category__icon">
                <span>DANH MỤC</span>
            </div>
            <div class="category-item category-item--one">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/cup 2.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ uống</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/Mypham.svg" alt="category-image" class="category-image" />
                <span class="desc">Mỹ phẩm</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/VeSinh.svg" alt="category-image" class="category-image" />
                <span class="desc">Vệ sinh cá nhân</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/DienTu.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ dùng điện tử</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/DoGiaDinh.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ dùng gia đình</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/ThucPhamTuoi.svg" alt="category-image" class="category-image" />
                <span class="desc">Thực phẩm tươi sống</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/ThucPhamCheBien.svg" alt="category-image" class="category-image" />
                <span class="desc">Thực phẩm chế biến sẳn</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/DoDungVanPhong.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ dùng văn phòng</span>
            </div>
        </div>
        <div class="Slider">
        <div class="ShowSlider fade">
            <img src="/Acssets/image/Slider_one.png" alt="Slider Image 1">
        </div>
        <div class="ShowSlider fade">
            <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" alt="Slider Image 2">
        </div>
        <div class="ShowSlider fade">
            <img src="https://www.w3schools.com/howto/img_snow_wide.jpg" alt="Slider Image 3">
        </div>
        </div>
        <div class="nav__category">
            <div class="Selling">                
                <span>Best Selling</span>
            </div>
            <div class="Selling-item Selling-item--one">
                <img src="/Acssets/image/hoaQua.png" alt="HoaQua" class="Selling-image" />
                <div>
                    <p class="desc fruit_price">$ 238,500₫</p>
                    <p class="desc">Nho hàn quốc</p>
                </div>
            </div>
            <div class="Selling-item Selling-item--one">
                <img src="/Acssets/image/Rau.png" alt="HoaQua" class="Selling-image" />
                <div>
                    <p class="desc fruit_price">$ 238,500₫</p>
                    <p class="desc">Nho hàn quốc</p>
                </div>
            </div>
            <div class="Selling-item Selling-item--one">
                <img src="/Acssets/image/Dao.png" alt="HoaQua" class="Selling-image" />
                <div>
                    <p class="desc fruit_price">$ 238,500₫</p>
                    <p class="desc">Nho hàn quốc</p>
                </div>
            </div>
            <div class="Selling-item Selling-item--one">
                <img src="/Acssets/image/caChua.png" alt="HoaQua" class="Selling-image" />
                <div>
                    <p class="desc fruit_price">$ 238,500₫</p>
                    <p class="desc">Nho hàn quốc</p>
                </div>
            </div>
            <div class="Selling-item Selling-item--one">
                <img src="/Acssets/image/Nho.png" alt="HoaQua" class="Selling-image" />
                <div>
                    <p class="desc fruit_price">$ 238,500₫</p>
                    <p class="desc">Nho hàn quốc</p>
                </div>
            </div>
            <div class="Selling-item Selling-item--one">
                <img src="/Acssets/image/Bo.png" alt="HoaQua" class="Selling-image" />
                <div>
                    <p class="desc fruit_price">$ 238,500₫</p>
                    <p class="desc">Nho hàn quốc</p>
                </div>
            </div>
            
</div>
<div class="container">
    <div class="grid">
        <!-- On Sale Section -->
        <div class="card card--left">
            <h2 class="card__title">On sale</h2>
            <hr/>
            <div class="card__item">
                <img src="https://storage.googleapis.com/a1aa/image/moWgQcRuwLFk5xRZYetMWcTNOWGxNIO9Gr1SeDegb3Y.jpg" alt="Pomegranate and Yogurt">
                <div>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                </div>
            </div>
            <div class="card__item">
                <img src="https://storage.googleapis.com/a1aa/image/VzablZE9sPgEbFO07Dszq29Vrv5PbV9j51kJID23Q2w.jpg" alt="Strawberry and Yogurt">
                <div>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                </div>
            </div>
            <div class="card__item">
                <img src="https://storage.googleapis.com/a1aa/image/aRyg_yGcNmDRo8H73MWH7pMtrsYRd5H32d3H8jUsKco.jpg" alt="Peach and Yogurt">
                <div>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                </div>
            </div>
        </div>
        <!-- Today's Best Deals Section -->
        <div class="card card--right best-deals">
            <h2 class="card__title">Today's Best Deals</h2>
            <div class="best-deals__tags">
                <div class="best-deals__tag">372</div>
                <div class="best-deals__tag">372</div>
                <div class="best-deals__tag">372</div>
            </div>
            <div class="best-deals__grid">
                <div class="best-deals__item">
                    <img src="https://storage.googleapis.com/a1aa/image/cJzKM-uIWXfHuNvd6rsYR_S2zsM34uN1sMUKdaNz898.jpg" alt="Pomegranate">
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                </div>
                <div class="best-deals__item">
                    <img src="https://storage.googleapis.com/a1aa/image/L4dlvtX6cpGA_nSr6jWLkkUnbzQ9iAv3QEurvKMRw_U.jpg" alt="Strawberry">
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                </div>
                <div class="best-deals__item">
                    <img src="https://storage.googleapis.com/a1aa/image/h3KH_eyDn8vE2nwPgzJAaAytnWETdfwjazlkpoDqrV0.jpg" alt="Peach">
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                </div>
                <div class="best-deals__item">
                    <img src="https://storage.googleapis.com/a1aa/image/w5UQqX0z_AjPuCCQqvF2tTVn8Tdp6QwnCmGspeozEK0.jpg" alt="Grapes">
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                </div>
                <div class="best-deals__item">
                    <img src="https://storage.googleapis.com/a1aa/image/uRFfqyfKIQ2fbmgrGb1K-YEw6kFI4pPVINC5c8dlzBM.jpg" alt="Avocado">
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                </div>
                <div class="best-deals__item">
                    <img src="https://storage.googleapis.com/a1aa/image/6SbM-xXDEHorSEKLm--s_TXIzpTZERVa_OMFH-HbGGU.jpg" alt="Papaya">
                    <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai/ Thùng Yogurt</p>
                    <p class="card__item-price">$ 238,500₫</p>
                    <p class="card__item-old-price">$ 238,500₫</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="weekly-vendor">
        <div class="vendor-left">
            <img src="sale-banner.jpg" alt="Sale Banner">
        </div>
        <div class="vendor-right">
            <h2>Weekly Top Vendor</h2>
            <div class="vendor-list">
                <div class="vendor">
                    <h3>combo1</h3>
                    <p>4 Products</p>
                    <div class="products">
                        <img src="fruit1.jpg" alt="Product 1">
                        <img src="fruit2.jpg" alt="Product 2">
                        <img src="fruit3.jpg" alt="Product 3">
                        <img src="fruit4.jpg" alt="Product 4">
                    </div>
                </div>
                <div class="vendor">
                    <h3>combo2</h3>
                    <p>4 Products</p>
                    <div class="products">
                        <img src="electronic1.jpg" alt="Product 1">
                        <img src="electronic2.jpg" alt="Product 2">
                        <img src="electronic3.jpg" alt="Product 3">
                        <img src="electronic4.jpg" alt="Product 4">
                    </div>
                </div>
                <div class="vendor">
                    <h3>combo3</h3>
                    <p>4 Products</p>
                    <div class="products">
                        <img src="food1.jpg" alt="Product 1">
                        <img src="food2.jpg" alt="Product 2">
                        <img src="food3.jpg" alt="Product 3">
                        <img src="food4.jpg" alt="Product 4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-list">
        <div class="product">
            <img src="pomegranate.jpg" alt="Pomegranate">
            <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai</p>
            <p class="price">$ 238,500đ</p>
            <p class="old-price">$ 238,500đ</p>
        </div>
        <div class="product">
            <img src="strawberry.jpg" alt="Strawberry">
            <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai</p>
            <p class="price">$ 238,500đ</p>
            <p class="old-price">$ 238,500đ</p>
        </div>
        <div class="product">
            <img src="peach.jpg" alt="Peach">
            <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai</p>
            <p class="price">$ 238,500đ</p>
            <p class="old-price">$ 238,500đ</p>
        </div>
        <div class="product">
            <img src="grape.jpg" alt="Grape">
            <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai</p>
            <p class="price">$ 238,500đ</p>
            <p class="old-price">$ 238,500đ</p>
        </div>
        <div class="product">
            <img src="tomato.jpg" alt="Tomato">
            <p>Thùng Sữa chua uống Probi ít Đường chai 130ml -24 chai</p>
            <p class="price">$ 238,500đ</p>
            <p class="old-price">$ 238,500đ</p>
        </div>
    </div>

    <div class="promo-banners">
        <div class="promo">
            <h3>Big Sale 20% Off</h3>
            <p>Green Tea Longjing</p>
            <p class="sale-price">from <span>$8.99</span></p>
        </div>
        <div class="promo">
            <h3>Big Sale 20% Off</h3>
            <p>Coconut Milk</p>
            <p class="sale-price">from <span>$8.99</span></p>
        </div>
    </div>
<div class="section"></div>
<script src="Js/Home.js"></script>