<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Home-main">
        <div class="Home-main--top">
            <div class="category">
                <img src="/Acssets/Icon/All_categories.svg" alt="category" class="category__icon">
                <span>DANH MỤC</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/cup 2.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ uống</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
            <div class="category-item">
                <img src="/Acssets/Icon/canned-food 1.svg" alt="category-image" class="category-image" />
                <span class="desc">Đồ khô</span>
            </div>
        </div>
    </div>
</body>
</html>